@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,25%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

.btn {
 color:white;
 text-decoration:none;
 padding:10px 20px;
 border-radius:6px;
 font-size:1.2em;
 font-family:'Helvetica',$sans-serif;
  &:hover, &:active {
    color:white;
  } 
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}

.btn-orange {
   @include button-bg(#c25c27);
}

/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
  
}
