$sans-serif: 'Open Sans', sans-serif;
$serif: 'Adelle', serif;

@import 'refills';
@import '_buttons';

body {
	font-family: $sans-serif;
	p, li {
		font-family: $serif;
	}
}
h1,h2,h3,h4 {
	font-family: $sans-serif;
}

.type-course {
	.entry-featured-media {
		display:none;
	}
}

.zippy-complete-lesson, .zippy-button, .zippy-previous, .zippy-next {
	color:white !important;
	font-family:'Helvetica',$sans-serif;
}

.zippy-unit-header {
	a.zippy-unit-title, .zippy-unit-title {
		font-size:22px;
		font-weight: 600;
		padding-bottom:5px;
	}
	.zippy-unit-entries-toggle {
		padding: 5px 12px;
	}
}

.zippy-unit-lesson-count {
	font-size:14px;
}

.ninja-forms-success-msg {
	@extend .flash-success;
	p {
		margin:0;
	}
}

#ninja_forms_form_7 {
	padding:15px;
	background:#F9F9F9;
	margin-bottom:25px;
	.textarea-wrap {
		display:none;
	}
	label {
		@extend h2;
		font-size:24px;
	}
	.wp-editor-container {
		border: 1px solid #d7d7d7;
	}
	#nf_submit_7 {
		display:none;
		input {
			display:none;
		}
	}
}

.zippy-downloads {
	padding:15px;
	background:#F9F9F9;
	h4 {
		margin-top:0;
	}
	ul {
		li {
			list-style:none;
			a {
				display:block;
				background: url("../img/icon-download.png") no-repeat left 5px;
				padding-left:25px;
			}
		}
	}
}

.launchcat {
	color:#888;
	font-weight:300;
}

a.showall {
	cursor:pointer;
}

.custom-road-map {
	margin:15px;
}

.zippy-course-19 .zippy-course-entries {
	display:none;
}

.intake-survey {
	padding:15px;
	background:#f7f7f7;
	.ninja-forms-required-items {
		font-size:.8em;
	}
}

.zippy {
	label.error {
		width:50%;
		margin-left:25% !important;
	}
}

.zippy-course-19 .site-header {
	height:245px;
	background:url('../img/lab-bg.png') repeat-x;
}

.zippy-course-19 .site-header .col-sm-12 {
	background:url('../img/lab-bg2.png') center top;
	height:100%;
}

.zippy-course-19 .site-header h1 {
	display:none;
}

.anote {
	padding:25px 0;
	border-bottom:1px solid #f7f7f7;
}
.roadmapreset {
    float: right;
    margin-top: -60px;
    margin-right: -20px;
}
.alignright {
	float:right;
	margin:0 0 15px 15px;
}