#zippy-theme-framework-layout {
    label {
        display: inline-block;
        min-width: 115px;
    }
}

#ztf-landing-page-mb {
    .landing-page-email-list,
    .landing-page-course-registration {
        display: none;
    }

    .landing-page-email-list {
        p:first-of-type {
            margin-top: 0;
        }
    }
    .col-2-left,
    .col-2-right {
        width: 50%;
        box-sizing: border-box;
        padding: 0 2.5%;
        float: left;
    }

    .col-2-left {
        padding-left: 0;
    }

    .col-2-right {
        padding-right: 0;
    }

    .landing-page-list {
        display: none;
    }
}

.zippy-columns {
    &:after {
        clear: both;
        content: " ";
        display: block;
    }
}