.flash-alert {
  background-color: #fff6bf;
  color: #8c7800;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .flash-alert a {
    color: #594c00;
    text-decoration: underline; }
    .flash-alert a:focus, .flash-alert a:hover {
      color: black; }

.flash-error {
  background-color: #fbe3e4;
  color: #96151b;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .flash-error a {
    color: #6a0f13;
    text-decoration: underline; }
    .flash-error a:focus, .flash-error a:hover {
      color: #110203; }

.flash-notice {
  background-color: #e5edf8;
  color: #244e87;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .flash-notice a {
    color: #19375f;
    text-decoration: underline; }
    .flash-notice a:focus, .flash-notice a:hover {
      color: #04080e; }

.flash-success, .ninja-forms-success-msg {
  background-color: #e6efc2;
  color: #56651a;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  .flash-success a, .ninja-forms-success-msg a {
    color: #333c10;
    text-decoration: underline; }
    .flash-success a:focus, .ninja-forms-success-msg a:focus, .flash-success a:hover, .ninja-forms-success-msg a:hover {
      color: black; }

.btn {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1.2em;
  font-family: "Helvetica", "Open Sans", sans-serif; }
  .btn:hover, .btn:active {
    color: white; }

.btn-green {
  background: #2ecc71; }
  .btn-green:hover {
    background: #176437;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #176437; }

.btn-blue {
  background: #3498db; }
  .btn-blue:hover {
    background: #16527a;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #16527a; }

.btn-yellow {
  background: #f1c40f; }
  .btn-yellow:hover {
    background: #796307;
    transition: all 0.3s ease; }
  .btn-yellow:active {
    background: #796307; }

.btn-red {
  background: #e74c3c; }
  .btn-red:hover {
    background: #921e12;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #921e12; }

.btn-orange {
  background: #c25c27; }
  .btn-orange:hover {
    background: #582a12;
    transition: all 0.3s ease; }
  .btn-orange:active {
    background: #582a12; }

/*Other Stylez*/
.wrap {
  margin: 0 auto;
  width: 800px;
  text-align: center; }

body {
  font-family: "Open Sans", sans-serif; }
  body p, body li {
    font-family: "Adelle", serif; }

h1, h2, #ninja_forms_form_7 label, h3, h4 {
  font-family: "Open Sans", sans-serif; }

.type-course .entry-featured-media {
  display: none; }

.zippy-complete-lesson, .zippy-button, .zippy-previous, .zippy-next {
  color: white !important;
  font-family: "Helvetica", "Open Sans", sans-serif; }

.zippy-unit-header a.zippy-unit-title, .zippy-unit-header .zippy-unit-title {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 5px; }
.zippy-unit-header .zippy-unit-entries-toggle {
  padding: 5px 12px; }

.zippy-unit-lesson-count {
  font-size: 14px; }

.ninja-forms-success-msg p {
  margin: 0; }

#ninja_forms_form_7 {
  padding: 15px;
  background: #F9F9F9;
  margin-bottom: 25px; }
  #ninja_forms_form_7 .textarea-wrap {
    display: none; }
  #ninja_forms_form_7 label {
    font-size: 24px; }
  #ninja_forms_form_7 .wp-editor-container {
    border: 1px solid #d7d7d7; }
  #ninja_forms_form_7 #nf_submit_7 {
    display: none; }
    #ninja_forms_form_7 #nf_submit_7 input {
      display: none; }

.zippy-downloads {
  padding: 15px;
  background: #F9F9F9; }
  .zippy-downloads h4 {
    margin-top: 0; }
  .zippy-downloads ul li {
    list-style: none; }
    .zippy-downloads ul li a {
      display: block;
      background: url("../img/icon-download.png") no-repeat left 5px;
      padding-left: 25px; }

.launchcat {
  color: #888;
  font-weight: 300; }

a.showall {
  cursor: pointer; }

.custom-road-map {
  margin: 15px; }

.post-19 .zippy-course-entries {
  display: none; }

.intake-survey {
  padding: 15px;
  background: #f7f7f7; }
  .intake-survey .ninja-forms-required-items {
    font-size: .8em; }

.zippy label.error {
  width: 50%;
  margin-left: 25% !important; }

.postid-19 .site-header {
  height: 245px;
  background: url("../img/lab-bg.png") repeat-x; }

.postid-19 .site-header .col-sm-12 {
  background: url("../img/lab-bg2.png") center top;
  height: 100%; }

.postid-19 .site-header h1 {
  display: none; }

.anote {
  padding: 25px 0;
  border-bottom: 1px solid #f7f7f7; }

.roadmapreset {
  float: right;
  margin-top: -60px;
  margin-right: -40px; }

.alignright {
  float: right;
  margin: 0 0 15px 15px; }
  
  .zippy-login-form .forgot-password-link {
	  display:none;
  }
