.archive-header {
	
	position: relative;	
	padding: 4em 0 0;
	background: #15D3EB;
	margin-top: 0;

	.archive-title {
		margin: 0;
		padding-bottom: 20px;
		color: #FFF;
		font-size: 42px;
		float: left;
	}

}

body.search {
	@extend body.archive;

	.page,
	.lesson,
	.course {

		.tag-links {
			display: none !important;
		}
		
	}
}


