.zippy-button {
	@include transition-duration(0.33s);
	@extend .btn;
	@extend .btn-default;
	border: none;
	margin-bottom: 8px;
	&.zippy-button-primary {
		@extend .btn-primary;
	}
}

.zippy-input {

	@extend .form-group;

	input {
		@extend .form-control;
	}

}

.entry-content {
	word-break: break-word;	
}

.alert-error {
	@extend .alert-danger;
}
.zippy-alert {
    @extend .alert;

    &.zippy-error {
        @extend .alert-danger;
    }

    &.zippy-warning {
        @extend .alert-warning;
    }

    &.zippy-success {
        @extend .alert-success;
    }
}

.zippy-course-already-owned {
	background: #DDEEDD;
	color: #448844;
	border: 1px solid #cceecc;
	padding: 0.5em 1em;
	font-weight: bold;

	&:before {
		content:  "\2713 ";
		margin-right: 8px;
	}
	
}
