#comment_submit {
	@extend .btn;
	@extend .btn-primary;

	border-style: none !important;
	padding: 8px 16px;

}
	
#comment {
	width: 100%;
	height: 80px;
	padding: .5em .8em;
	font-size: 16px;
}

#comments {
	
	label {
		display: block;
		font-weight: 400;
	}

	.form-allowed-tags {
		font-size: 13px;
		font-style: italic;
	}
	
	.comment-list,
	.comment-list .children {
	    list-style: none;
	}

	.comment-list {
		padding: 0;

		.children {
			padding-left: 2em;
			margin: 1em 0;
		}

	}

	.comment {
		margin-bottom: 5px;
	}

	.comment-content {

		p {
			margin: 0.5em 0 0;
		}

	}

	.comment-body {
		padding: 1em;
		border: 1px solid #EEE;
		background: #FFF;
	}


	.comment-edit-link {
		display: none;
	}

	.comment-author {
		line-height: 1em;
	}

	.comment-metadata {

		line-height: 1em;

		a {
			color: #999;
			font-size: 12px;
		}

	}

	.reply {

		a {
			color: #aaa;

			&:hover {
				color: $link-hover-color;
			}
		}
	}

	.depth-2 .comment-body {
		border-left-width: 3px;
	}

	.depth-3 .comment-body {
		border-left-width: 6px;
	}

	.depth-4 .comment-body {
		border-left-width: 9px;
	}

	.depth-5 .comment-body {
		border-left-width: 12px;
	}
}


#respond {
	#reply-title {
		font-size: 20px;
		font-weight: bold;
	}
}