.zippy-course-entry {

	float: left;
	width: 48%;
	border: 1px solid #EEE;
	margin-bottom: 2em;

	&:nth-child(2n+1) {
		margin-left: 2%;
	}

	&:nth-child(2n) {
		clear:both;
	}

	.zippy-course-header {
		
		background: #223;
		padding: 1em 1em 0.5em;
		@include transition-duration(0.33s);

		.zippy-course-title {

			margin: 0;
			
			a {
				display: block;				
				color: #EEF;
				font-weight: 500;
				

			}

		}

		.zippy-course-progress {

			p {
				@extend .small;
				margin: 0.5em 0;
				color: #FFF;
				opacity: .7;
				line-height: 1em;
			}

		}

	}

	.zippy-featured-image {

		img {
			@include transition-duration(0.33s);
			margin: 0;
		}

	}

	.zippy-course-footer {
		
		&:after {
			display: block;
			content: " ";
			clear: both;
		}
		border-top: 1px solid #e5e5e5;
		background: #f5f5f5;
		margin: 0;

		.zippy-progress-container {
			padding-top: 1.2em;
			font-size: 12px;
			color: #999;
			font-style: italic;
		}

		.zippy-progress {
			
			display: block;
			width: 70%;
			height: 10px;
			background: #CCC;
			margin: 0;

			.zippy-progress-bar {
				display: block;
				height: 8px;
				margin-top: 1px;
				background: #888;
			}

		}

		.zippy-course-continue {
			display: block;
			line-height: 50px;
			border-left: 1px solid #DDD;
			height: 50px;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
			color: #555;
			max-width: 50%;
			float: right;

			&:hover {
				background: #EEE;
				color: #444;
			}
		}
	}

	&:hover {

		.zippy-course-header {
			
			background: #3a3a4b;

			.zippy-course-title {
				a { color: #FFE; }
			}
		
		}

	}

	.zippy-course-description {
		@extend .small;
		padding: 1em;
	}

}

.zippy-product-details {
	@extend .col-md-9;
	vertical-align: middle;
}

.zippy-product-price {
	@extend .col-md-3;
	@extend .text-center;
	vertical-align: middle;
}

.zippy-product-title {
	margin-bottom: 0;
}

.zippy-product-description {
	margin-bottom: 0;
	font-size: 12px;
	opacity: .7;
}

.course .zippy-unit-entries {
	display: none;
	padding: 0.5em 0;
}