#dashboard {
	
	@extend .row;
	margin: 2em auto;

	.course-entry {

		float: left;
		width: 48%;
		border: 1px solid #EEE;
		margin-bottom: 2em;

		&:nth-child(2n+1) {
			clear: both;
			margin-right: 2%;
		}

		header {
			
			h2 {

				margin: 0;
				
				a {
					background: #223;
					display: block;
					padding: 1em 0.5em 0.3em;
					color: #EEF;
					font-weight: 500;

					&:hover {
						background: #282839;
						color: #FFE;
					}
				}
			}

		}

		section {
			padding: 1em;
		}

		footer {
			border-top: 1px solid #e5e5e5;
			background: #f5f5f5;
			margin: 0;

			.progress-container {
				padding-top: 1.2em;
				font-size: 12px;
				color: #999;
				font-style: italic;
			}

			.progress {
				display: block;
				width: 70%;
				height: 10px;
				background: #CCC;
				margin: 0;

				.bar {
					display: block;
					height: 8px;
					margin-top: 1px;
					background: #888;
				}

			}

			.course-continue {
				display: block;
				line-height: 50px;
				border-left: 1px solid #DDD;
				height: 50px;
				text-align: center;
				color: #555;

				&:hover {
					background: #EEE;
					color: #444;
				}
			}

		}

	}
	
}