.zippy-courses-directory {

	.zippy-course-title-description {
		@extend .row;
	}

	.zippy-course {

		padding-top: 1em;
		padding-bottom: 1em;
		border-top: 1px solid #DDD;
		
		&:after {
			display: block;
			content: " ";
			clear: both;
		}

		&:first-of-type {
			border-top: none;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		h3 {
			margin-top: 0;
		}

	}

	.zippy-course-pricing {
		@extend .row;
		
		line-height: 40px;

		> div {
			@extend .col-xs-12;
		}
		
		p {
			line-height: 40px;
		}
	}

	.zippy-course-directory-nav {
		margin: 1em 0;
	}

}

.entry-content {
	.zippy-course-pricing {
		padding-top: 1em;
	}
}