.site-footer {
	margin-top: 2em;
	background: #222222;
	color: #888;
	font-size: 90%;
	padding: 2em 0;
	
	ul {
		margin-bottom: 0;
	}

	li {
		
		display: inline-block;
		list-style: none;
	}

	a {
		color: #DDD;
		text-decoration: none;
	
		&:hover {
			color: #FFF;
		}
	}

}

.footer-widgets {
	
	.widget {
		@extend .col-sm-4;
		margin-bottom: 40px;

		&:nth-child(3n+1) {
			clear: both;
		}
	
		.widget-title {
			font-size: 18px;
			border-bottom: 1px solid #444;
			padding-bottom: 8px;
			font-weight: bold;
			text-transform: uppercase;
		}

		ul {
			padding-left: 0;

			li {
				display: block;
			}
		}
	}

	
}

body #qm {
	margin-top: 0 !important;
}