.avatar-14 {
	display: none;
}

.bbpress {
	
	.zippy-error {
		margin-top: 2em;
	}	

	.bbp-user-edit-link {
		display: none;
	}

	#bbp-user-wrapper {
		margin-top: 2em;
	}

	.page-header {
		margin-bottom: 0;
	}
	
	#bbp_search	{
		background: #EEE;
		padding-left: 4px;
		padding-right: 4px;
		line-height: 24px;
		border: 1px solid #bbb;
		transition: background 0.5s ease;

		&:focus {
			background: #FAFAFA;
			border: 1px solid #BBB;
		}
	}

	.entry-header {
		background: #223;

		.entry-title {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	div.zippy-bbp-top-nav {
		background: #DDD;
		padding: 1em 0;
		margin-bottom: 2em;

		a {
			color: #777;

			&:hover {
				color: #666;
				text-decoration: underline;
			}

		}

	}

	div.bbp-breadcrumb {
		
		.bbp-breadcrumb-current {
			font-weight: bold;
		}

	}
	
	.bbp-header, .bbp-footer, .topic, .reply {
		@extend .row;
	}	

	.forum-titles {
		font-size: 18px;
	}

	.bbp-header, .bbp-footer {
		background: #DDD;
		padding-top: 1em;
		padding-bottom: 1em;	
	}

	.bbp-pagination {
		float: none;
		width: auto;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		background: lighten( #223, 3% );
		color: #FFF;
		color: rgba( 255,255,255,.5 );
		margin-bottom: 0;
	}

	.bbp-topic-pagination {
		a {
			border: none;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.bbp-pagination-links {
		@extend .text-right;

		a {
			display: inline;
			float: none;
			border: none;
			background: none;
			color: #FFF;
			opacity: .5;

			&:hover {
				background: none;
				color: #FFF;
				border: none;
				opacity: 1;
			}
		}

		span.current {
			float: none;
			display: inline;
			background: none;
			font-weight: bold;
			border: none;
		}
	}	

	.bbp-topics {

		.topic {
			padding: 0.5em 0;
			border-bottom: 1px solid #CCC;
			border-left: 1px solid #DDD;
			border-right: 1px solid #DDD;
		}

	}	

	.bbp-replies {
		.topic, .reply {
			@extend .row;
			padding-top: 0;
			padding-bottom: 1em;
		}
	}
	
	.entry-header {
		position: relative;
	}

	#favorite-toggle,
	#subscription-toggle {
		position: absolute;
	}

	#favorite-toggle {
		right: 54px;
		bottom: 10px;
	}

	#subscription-toggle {
		right: 20px;
		bottom: 10px;
		visibility: hidden;
	}

	.favorite-toggle,
	.subscription-toggle {
		opacity: .33;
		display: block;
		text-indent: -9999px;
		background: url( assets/images/sub-fav-sprite.png ) no-repeat;
		width: 24px;
		height: 24px;
		margin: 1em;

		&:hover {
			opacity: .66;
		}
	}

	.favorite-toggle {
		background-position: -24px -24px;
	}

	.subscription-toggle {
		visibility: visible;
		background-position: 0 -24px;
	}

	.is-favorite {
		.favorite-toggle {
			opacity: 1;
		}
	}

	.is-subscribed {
		.subscription-toggle {
			opacity: 1;
		}
	}

	.bbp-topic-title {
		font-size: 18px;
		margin-bottom: 0;
	}
	
	.bbp-topic-voice-count,
	.bbp-topic-reply-count {
		text-align: center;
	}
	
	.bbp-topic-form, 
	.bbp-reply-form {
		@extend .row;
		background: #E5E5E5;
		border: solid #DDD;
		border-width: 0 1px 1px;
	}
	
	div.bbp-template-notice, 
	div.indicator-hint {

		border-width: 0 0 1px;
		border-style: solid;
		padding: 0.2em 0.6em;
		margin: 0;
		border-radius: 0;
		background-color: #fffff0;
		border-color: #ccc499;
		color: #706113;
		clear: both;

	}

	.bbp-submit-wrapper {
		float: none;
	}

	#bbpress-forums {
		
		p {
			font-size: 16px;
			line-height: 1.4;
		}
		
		.bbp-topic-tags {
			float: none;
			font-size: 12px;
			
			p {
				font-size: 12px;
			}

			a {
				color: #EEE;

				&:hover {
					color: #FFF;
				}
			}
		}

		div.wp-editor-container {
			border: 1px solid #CCC;
		}

		.bbp-form {

			border: 0;
			padding-top: 1em;
			padding-bottom: 2em;

			h3 {
				font-family: 'Open Sans', Arial, sans-serif;
				font-size: 18px;
				font-weight: 600;
				line-height: 1.4;
				border: none;
				margin: 0 0 0.5em;
				padding: 0;
			}

		}
	
		.bbp-search-form {
			@extend .text-right;
			float: left;
		}
		
		.bbp-search-results {
			
			.forum, .topic, .reply {
				@extend .row;
				background: #FFF;
				width: auto;
				border-left: 1px solid #DDD;
				border-right: 1px solid #DDD;

				&:nth-child(2n) {
					background: #EEE;
				}
			}

			.bbp-topic-header,
			.bbp-forum-header,
			.bbp-reply-header {
				@extend .col-sm-12;
				background: none;
				margin-bottom: 0;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		
			div.bbp-forum-content {
				margin-bottom: 0;
				padding: 0;
			}
		}

		.bbp-forum-info .bbp-forum-content, 
		p.bbp-topic-meta {
			margin: 0 0 0.75em;
			line-height: 1em;
		}

		div.bbp-reply-author {
			@extend .col-md-2;
			img.avatar {
				margin: 0 auto;
			}
		}

		 div.bbp-reply-content {
		 	@extend .col-md-10;
		 	margin-left: 0;
		 	padding-top: 0;
		 	padding-bottom: 0;
		 }
	
		.bbp-forums {
			.forum {
				@extend .row;
				border-left: 1px solid #DDD;
				border-right: 1px solid #DDD;
				border-bottom: 1px solid #CCC;
				padding-top: 1em;
				padding-bottom: 1em;
			}

			.bbp-forum-title {
				font-size: 18px;
			}

			.bbp-forum-topic-count,
			.bbp-forum-reply-count {
				text-align: center;
			}
		}		

		.bbp-replies {
	
			span.bbp-admin-links {
				float: none;
			}

			div.topic,
			div.reply {
				width: auto;
				border-left: 1px solid #DDD;
				border-right: 1px solid #DDD;
				border-bottom: 1px solid #CCC;
				padding-top: 2em;
				padding-bottom: 2em;
			}

		}
	
		div.bbp-reply-header {
			background: none;
			border: none;
			padding: 0;
			margin-bottom: 0.75em;
		}

	}
	
	#bbp-user-body {
		
		#favorite-toggle,
		#subscription-toggle {
			display: none;
		}

		.bbp-forums {
			margin-bottom: 2em;
		}

		.bbp-header,
		.bbp-body,
		.bbp-footer,
		.bbp-pagination,
		.bbp-forums .forum,
		.topic,
		.reply { 
			margin: 0; 
		}

		.reply {
			.bbp-header {
				background: none;
				display: inline-block;
				padding: 0;
			}
		}
	}	
}

@media (max-width: $screen-xs-max) {

	.bbpress {
		div.bbp-breadcrumb {
			margin-bottom: 0;
			padding: 1em;
			line-height: 225%;
		}
	}

	.visible-inline-xs {
		display: inline-block !important;
		visibility: visible !important;
	}
}