.home {

	.site-title {
		@extend .text-center;
		margin-top: 10%;
		color: #FFF;
		color: rgba( 255, 255, 255, .9 );

		.logo {
			position: relative;
			max-height: initial;
			max-width: 100%;
			height: auto;
			width: auto;
			margin: 0 auto;
		}
	}

	.login-box {
		background: #FAFAFA;
		margin-top: 2em;
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: 4px;
	}
}

