.zippy-lesson-complete {
	
	position: relative;
	padding-left: 16px;

	&:before {
		position: absolute;
		top: 10px;
		left: -16px;
		content: "\2714";
		color: green;
		font-size: 12px;
		font-weight: 500;
		margin-right: 8px;
		display: inline-block;
	}

}

p.zippy-lesson-complete {

	&:before {
		top: 4px;
		left: 0;
	}

}

li.zippy-lesson-complete {
	
	&:before {
		top: 1px;
		left: 0;
	}

}

.lesson-completed {

    position: absolute;
	right: 8px;
	top: 18px;
	background: #3c5d81;
	color: #FFF;
	padding: 0.5em 1em 0.5em 2.5em;
	border-radius: 0;
	font-weight: bold;

	&:before {
	    position: absolute;
		content: "\2714";
		left: 7px;
		top: 8px;
		color: #FFF;
		display: block;
		width: 24px;
		height: 24px;
		background: #2e4864;
		text-align: center;
		border-radius: 20px;
		line-height: 24px;
		font-size: 12px;
		font-weight: 500;
	}
}

.lesson-header {
	
	padding: 2em 0 0;
	background: #15D3EB;

	.entry-title {

		a {

		}

		font-size: 42px;
		margin: 0;
		color: #FFF;
	}

	.btn-complete {
		border-radius: 0;
		color: #FFF;
		margin-top: 2em;
		font-weight: bold;

		&:hover {
			background: #0AC8E2;
		}
	}

	p {
		color: #FFF;
		margin: 0 0 1em;
	}

}

.lesson-next-previous {

	margin-top: 2em;
	padding-top: 2em;

	.next-lesson-button {
		float: right;
	}

	.previous-lesson-button {
		float: left;
	}
}

.lesson-resources {

	margin-top: 1em;
	background: #555;
	padding: .5em 1em;

	h4 {
		color: #DDD;
		font-weight: bold;
	}

	a {
		color: #999;

		&:hover {
			color: #CCC;
		}
	}

}

.lesson-available {
	font-size: 14px;
	line-height: 1.3em;
	color: #555;

}

.zippy-complete-lesson {
	text-align: center;
	background: #33AA55;
	color: #FFF;

	@include transition-duration(0.33s);

	&:hover {
		background: lighten( #33AA55, 5% );
	}
}

.zippy-lesson-completed {
	background: #DDEEDD;
	color: #448844;
	border: 1px solid #cceecc;
	padding: 0.5em 1em;
	font-weight: bold;

	&:before {
		content:  "\2713 ";
		margin-right: 8px;
	}
	
}