.no-padding {
	padding: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.btn-dark {
	background: #223;
	color: #EEF;

	&:hover {
		background: #334;
		color: #FFE;
	}

	&:focus {
		outline: 0;
	}
}

code {
	display: block;
	white-space: normal
}

.btn-default {
	&:hover {
		background: #ddd;
		color: #777;
	}
}

.btn-full-width {
	width: 100%;
}

.post-type-indicator {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: .5;
}

.alert-error {
	@extend .alert-danger;
}

.zippy {
	
	.zippy-account-actions a {
		display: inline-block;
	}
}