img.logo {
	max-height: 30px;
	width: auto;
}

#primary-nav {

	margin-bottom: 0;

	a {
		
		background: none;
  		@include transition-duration(0.33s);

		&:hover {
			background: #333;
		}

	}

	.navbar-brand {

		&:hover {
			background: none;
		}

	}

	.menu-item .sub-menu {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: none;    
	}

	.menu-item:hover .sub-menu {
	    display: block;
	    position: absolute;
	    top: 100%;
	    background: #222;
	    min-width: 150px;
	}

	.menu-item:hover .sub-menu .menu-item,
	.menu-item:hover .sub-menu .menu-item a {
	    display: block;
	    position: relative;
	    width: 100%;
	}

	.menu-item .sub-menu .menu-item a {
		color: #a8a8a8;
		font-size: 14px;
		
		&:hover {
			color: #FFF;
		}
	}
	
}

.navbar {
	min-height: 40px;
}

.nav {
	li {
		a {
			padding: 10px;
		}
	}
}

.nav {
	> li {

		> a {

			height: 50px;
			padding: 10px 20px;
			box-sizing: border-box;
			border: solid #444;
			border-width: 0 1px 0 0;
			font-size: 14px;
	
		}

		&:first-of-type {

			> a {
				border-left-width: 1px;
			}

		}

	}

}

.menu-item {
    position: relative;
}

@media (max-width: $screen-md) {
	#primary-nav {
		.menu-item:hover .sub-menu {
			right: 0;
		}
	}
}

@media (max-width: $screen-sm) {
	#primary-nav {

		.menu-item .sub-menu,
		.menu-item:hover .sub-menu  {
			position: relative;
			display: block;
			padding-left: 16px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
		}

		.menu-item:hover .sub-menu {
			width: 100%;
		}

		.menu-item .sub-menu .menu-item a {
			display: block;
			width: 100%;
		}
	}
}