.order-header {
	@extend .page-header;

	.order-title {
		@extend .page-title;
	}
}

.zippy-order-history-table {
	@extend .table;
	@extend .table-striped;
	@extend .table-hover;

	border: 1px solid #DDD;
}

.zippy-table-order-actions {
	@extend .small;
}