.page-header {
	
	position: relative;	
	padding: 4em 0 0;
	background: #15D3EB;
	margin-top: 0;

	.page-title,
	.blog-title,
	.course-title {
		margin: 0;
		padding-bottom: 20px;
		color: #FFF;
		font-size: 42px;
		float: left;
		
		a {
			color: #FFF;
		}

	}

	.zippy-entry-type {
		margin: 0;
		line-height: 1em;
		text-transform: uppercase;
		color: #FFF;
		opacity: .5;
	}

}

#refund-modal {
	.modal-body {
		padding-bottom: 0;
	}
}

.page {
	.entry-featured-image {
		margin-bottom: 1em;
	}
}