.entry-header {

	.entry-title {

		background: #223;
		margin: 0;
		background: #223;
		display: block;
		padding: 1em 0.5em 0.3em;
		color: #EEF;
		font-weight: 500;

		a {
			display: block;
			padding: .66em 0.5em 0.3em;
			color: #EEF;
			font-weight: 500;

			&:hover {
				background: #282839;
				color: #FFE;
			}
		}

	}

}

body.blog,
body.archive {
	article	{

		.entry-title {
			padding: 0;
		}
		
	}
}

#content {
	margin-top: 2em;

	> article {
		background: #FFF;
		border: 1px solid #E5E5E5;
		margin-bottom: 2em;

		header {
			margin: 0;

			.entry-title {
				background: #223;
				margin: 0;

				a {
					display: block;
					padding: .66em 0.5em 0.3em;
					color: #EEF;
					font-weight: 500;

					&:hover {
						background: #282839;
						color: #FFE;
					}
				}

			}

			.entry-meta {
				background: #334;
				color: #FFF;
				color: rgba( 255, 255, 255, 0.5 );
				padding: .3em 1em;
				font-size: small;

				a {
					
					color: #FFF;
					color: rgba( 255, 255, 255, 0.5 );

					&:hover {
						color: #FFF;
						color: rgba( 255, 255, 255, 0.8 );
					}
				}

				.cat-links {
					font-weight: 700;
					font-style: italic;

				}

				.comments-link {
					float: right;
				}
			}

		}
		
		.entry-featured-image {

			background: #E5E5E5;
			box-shadow: 0 0 125px #888 inset;

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}
		}		
		.entry-content {
			margin: 2em 0;

			div {
				max-width: 100%;
			}

		}

		> footer {
			margin: 0;
			background: #EEE;
			border-top: 1px solid #DDD;
			
			.tag-links {

				display: inline-block;
				padding: 0.75em 0;
				font-size: small;

				a{
					color: #676767;

					&:hover {
						border-bottom: 1px dotted #888;
					}
				}

			}

			.btn-read-post {
			    background: none;
			    color: #888;
			    border-width: 0 0 0 1px;
			    border-radius: 0;
			    border-color: #CCC;

			    &:hover {
			    	background: #DDD;
			    	color: #777;
			    }
			}

		}

	}

}


.blog-header {
	
	position: relative;	
	padding: 4em 0 0;
	background: #15D3EB;
	margin-top: 0;

	.blog-title {
		margin: 0;
		padding-bottom: 20px;
		color: #FFF;
		font-size: 42px;
		float: left;
	}

}

.cc-exp {
	width: auto;
	padding: 0;
	font-size: 24px;
	color: #999;
	margin: 0 -4px;

	.form-control {
		text-align: center;
	}

	.form-control-static {
		padding: 0;
	}
}

.payment-table {
	width: 100%;
	margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
  	> tr {
  		> th,
  		> td {
  			vertical-align: middle;
  		}
  	}
  }
}

.single-entry-navigation{


	.prev-post {
		float: right;
	}

	.next-post {
		float: left;
	}

	a {
		@extend .btn;
		@extend .btn-default;
	}

	&:after {
		display: block;
		content: " ";
		clear: both;
	}
}



.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}
}

.zippy-retake,
.zippy-continue,
.zippy-next,
.zippy-previous {
	background: #DDD;
	color: #888;
	padding: 0.5em 1em;
	@include transition-duration(0.33s);

	&:hover {
		background: #E5E5E5;
		color: #777;
	}
}

.zippy-retake,
.zippy-previous {
	float: left;
	margin-right: .5em;
}

.zippy-continue,
.zippy-next {
	float: right;
}

.zippy-lesson-description {
	@extend .small;
}

.zippy-continue {
	@extend .btn-primary;
}
