@media (max-width: $screen-md-max) {
	
}

@media (max-width: $screen-sm-max) {
			
	.zippy-courses {
		.zippy-course-entry {

			float: none;
			width: 95%;
			margin: 1em 2.5% 2em;
		
		}

	}
	
	.course-header {

		padding-top: 2em;

		.course-title {
			float: none;
			display: block;
			margin: 0;
			font-size: 32px;	
			padding-bottom: 0;
		}

	} 

	.course-links {
		display: block;
		position: relative;
		margin: 0;

		> li {
			a {
				padding-top: 3px;
				padding-bottom: 3px;	
			}
			
		}

	}

	.blog,
	.single-post {
		
		.site-content {
			padding-left: 0;
			padding-right: 0;
		}

		.post-tags {
			display: none;
		}

	}

	.quick-nav-trigger {
		display: none !important;
	}

	.single-unit {
		
		.course-header {
			margin-bottom: 0;
		}

		.unit {
			> .entry-content {
				margin-bottom: 0;
			}
		}

	}

	.single-lesson {
		.course-header {
			margin-bottom: 0;

			.orphan-lesson-course-title, 
			.unit-title {
				display: block;
				float: none;
				padding: 0;
				margin: 0;
				font-size: 32px;
			}
		}

		.lesson-completed {
			display: block;
			position: relative;
			right: 0;
			top: 0;
		}

		.lesson {
			> .entry-header {
				padding-bottom: 1em;
			}

			> .entry-content {
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 0;
			}
		}
	}

	.site-footer {
		margin-top: 0;
	}

	.login-box {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: $screen-xs-max) {
	.table {
		.btn {
			display: block;
			margin-bottom: 4px;
		}
	}

	.course-entries {
		.lesson {
			footer {
				text-align: left;
			}
		}
	}
}