#sidebar {
	margin-top: 2em;
	padding-left: 5%;

	.widget-title {
		font-size: 18px;
		color: #555;
		border-bottom: 1px solid #DDD;
		padding-bottom: 8px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.widget {

		ul {
			list-style: none;
		}

		> ul {
		    
		    padding-left: 5px;

			> li {
				
				line-height: 130%;
				margin-bottom: 8px;
				
				@extend .small;

				> ul {
			    	padding-left: 1.5em;
			    }
			}

		}

	} 


}

.widget_nav_menu {

	li {
		font-size: 16px;
	}
	.menu {
		padding-left: 4px;
	}

	.sub-menu {
		padding-left: 16px;
	}
}