.zippy-unit {
	position: relative;
}

.zippy-unit-title {
	border-bottom: 1px solid #CCC;
    padding-right: 120px;
}

.zippy-theme-unit-lesson-toggle {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
}

.zippy-unit-entries {
	
}