.alignleft {
	@extend .pull-left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.alignright {
	@extend .pull-right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.aligncenter {
	display: block;
	margin: 0 auto 1em;
}

.wp-caption-text {
	font-style: italic;
	font-size: small;
	text-align: center;
}

.gallery {

	text-align: center;

	br {
		display: none;
	}

	.gallery-item {

		opacity: .8;
		margin: 2px;
		position: relative;
		display: inline-block;
		width: 150px;
		height: 150px;


		.gallery-icon {
			z-index: 2;

			a {
				display: block;
				width: 100%;
				height: 100%;


			}
		}
		.gallery-caption {
			display: none;
		}

		&:hover {

			opacity: 1;

			.gallery-caption {
				z-index: 1;
				position: absolute;
				display: block;
				bottom: 0;
				height: 80px;
				width: 150px;
				color: #FFF;
				background: #000;
				opacity: .8;
				overflow-y: hidden;
				font-size: small;
				padding: .75em;
				line-height: 1.5em;
				text-align: left;
			}
		}
	}
}

.search-form {
	.search-field {
		display: inline-block;
		width: auto;
	}	

	.search-submit {
		padding: .4em 1em;
	}
}

.next-posts,
.prev-posts {
	@extend .btn;
	@extend .btn-default;
}

.next-posts {
	float: right;
}

.prev-posts {
	float: left;
}